{
 :udp-port 1234 
 :ttl 3600000
 :redis {
   :host "192.168.1.25"        
 }

 :ssl {
    :keystore "tinymasq.key"
    :password "hie3Enga"
 }

 :logging {
   :path "target/tinymasq.log"
   :level :debug
 }

 :users {
   "admin" {
      :username "admin" 
      ; foobar
      :password "$2a$10$HSKhP8CsLGpM2sP/wNx2RuGgy0yDEGMKr6RY9g7fVB1VjGa5IaHGm"
      :roles #{:tinymasq.api/admin}
    }
  }
}
