{
 :udp-port 1234
 :bind-address "127.0.0.1"
 :http-port 8081
 :ttl 300
 :entry-expiration-time-sec 300
 :redis {
   :host "localhost"
 }

 :ssl {
    :keystore "tinymasq.key"
    :password "hie3Enga"
 }

 :logging {
   :path "target/tinymasq.log"
   :level :debug
 }

 :users {
   "admin" {
      :username "admin"
      ; foobar
      :password "$2a$10$HSKhP8CsLGpM2sP/wNx2RuGgy0yDEGMKr6RY9g7fVB1VjGa5IaHGm"
      :roles #{:tinymasq.api/admin}
    }
  }
}
