{
 :udp-port 53
 :ttl 3600000
 :redis {
   :host "localhost"        
 }

 :ssl {
    :keystore "tinymasq.key"
    :password "changeme"
 }

 :logging {
   :path "/var/log/tinymasq.log"
   :level :info
 }

}
