{
 :udp-port 53
 :ttl 3600000
 :redis {
   :host "localhost"        
 }

 :ssl {
    :keystore "tinymasq.key"
    :password "changeme"
 }

 :logging {
   :path "/var/log/tinymasq.log"
   :level :info
 }

 :users {
   "admin" {
      :username "admin" 
      :password "$2a$10$z6hMDrrklsSBtBujzLyAqu7HuMdrUxvrZRCgrylGRab9xB9XF6Bgu" 
      :roles #{:tinymasq.api/admin}
    }
  }

}
